/*h1 {
    color: gold;
    text-align: center;
    font-size: 200px;
    font-family: 'Euphoria Script', serif;
    padding: 75px 50px;
    text-shadow:12px 12px #000;
}*/
footer {
    background-color: dimgray;
    position: fixed;
    bottom: 0px;
    width:100%;
    text-align: center;
}

#basic {
    color: deeppink;
    text-align: center;
    font-size: 150px;
    font-family: 'Nothing You Could Do', cursive;
    padding: 75px 50px;
    text-shadow: 12px 12px #000;
    margin-top: 150px;
}

body {
    background-image: url(scissors.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
div {
    font-family: 'Kaushan Script', cursive;
    display:inline-block;
    list-style-type: none;
    margin: 0px 60px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.anchor{
    position: absolute;
    transform: translateY(-50vh);
}
.button {
    font-family: 'Kaushan Script', cursive;
    background-color: hotpink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}
.button2{
    font-family: 'Kaushan Script', cursive;
    background-color: transparent;
    border: none;
    font-size: 16px;
    border-radius: 50%;
}
.button2:hover{
    background-color: hotpink;
}
.slide-image {
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    height: 400px;
    width: 400px;
    max-height: 750px;
    max-width: 750px;
   
}
* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: center;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 450px;
    border-radius: 3px 0 0 3px;
    background-color: pink;
}

.prev {
    left: 450px;
    border-radius: 3px 0 0 3px;
    background-color: pink;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    border-radius: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }
